@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.banklogo{
    width: 89px;
height: 23px;
margin-left: 100px;
margin-top: 24px;
}
.container{
    width: 1152px;
height: 700px;

}
.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}
.text{

    margin-left:90px ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;

}
.headertext{
width: 40px;
height: 19px;
margin-right: 120px;
margin-top: 15px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 13px;


letter-spacing: 0.06em;
color: #959BA4;

}
.headertext1{

    width: 50px;
    height: 19px;
    margin-right: 120px;
    margin-top: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    
    
    letter-spacing: 0.06em;

color: #000000;

}
.headertextson{
    width: 50px;
    height: 19px;
    margin-left: 70px;
    margin-top: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.06em;

color: #000000;

}
.convertertext{
    width: 587px;
height: 32px;

margin-top: 106px;
margin-left:290px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;

color: #000000;

}
h1{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;

color: #000000;

}
.solumenya{
    width: 120px;
height: 28px;font-family: 'Roboto';
font-style: normal;
font-weight: 400;
margin-top: 33px;
font-size: 12px;
line-height: 14px;
color: #9F9F9F;
}
.sagumenya{
    width: 120px;
height: 28px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
margin-left: 390px;
margin-top: -37px;
color: #9F9F9F;
}


.valyuta1  {
    display: flex;
    width: 259px;
    height: 30px;

    box-sizing: border-box;
    border-radius: 3px;
    text-align: center;

}
.valyuta2{
    margin-left: 390px;
    display: flex;
    width: 259px;
    height: 30px;
margin-top: -29px;
    box-sizing: border-box;
    border-radius: 3px;
    text-align: center;
}
.first,.second,.third,.fourth{
    width: 63.81px;
    height: 28px;
    padding-left:20px;
    font-family: 'Roboto';
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #C6C6C6;
    border: 1px solid #E5E5E5;
}
.first{
    background-color: #833AE0;
}
.six{
    background-color: #833AE0;
}
.five,.six,.seven,.eight {
    width: 63.81px;
    height: 28px;
    padding-left:20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #C6C6C6;
    border: 1px solid #E5E5E5;
}
.input1{
    box-sizing: border-box;
    width: 259px;
    height: 102px;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;

color: #000000;

}
.input2{
    box-sizing: border-box;
    width: 259px;
    height: 102px;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;

color: #000000;

 
}
.inputarea2{
    margin-left: 390px;
    margin-top: -105px;
}



@media screen and (min-width: 320px) and (max-width:991px){


    .banklogo{
        width: 49px;
    height: 13px;
    margin-left: 10px;
    margin-top: 30px;
    }
    .container{
        width: 320px;
    height: 700px;
    
    }
    .head{
        display: flex;
        flex-direction: row;

        justify-content: space-between;
   
    
    }
    .text{
   
        margin-left:20px ;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 4px;
    
    }
    .headertext{
      
    width: 10px;
    height: 9px;
    margin-right: 40px;
    margin-left: 70px;
    margin-top: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 13px;
   
    letter-spacing: 0.06em;
    color: #959BA4;
    
    }
    .headertext1{
    
        width: 10px;
        height: 9px;
position:absolute;
left: 94px;
        margin-top: 15px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: bold;
        font-size: 9px;
        line-height: 13px;
        
        
        letter-spacing: 0.06em;
    
    color: #000000;
    
    }
    .headertextson{
        width: 10px;
        height: 9px;
      position: absolute;
      left:340px;
   
        font-family: 'Roboto';
        font-style: normal;
        font-weight: bold;
        font-size: 9px;
        line-height: 13px;
        letter-spacing: 0.06em;
    
    color: #000000;
    
    }
    .convertertext{
        width: 287px;
    height: 22px;
   
    margin-top: 106px;
    margin-left:100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 42px;
    
    color: #000000;
    
    }
    h1{
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 42px;
    
    color: #000000;
    
    }
    .solumenya{
        width: 120px;
    height: 28px;font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    margin-top: 33px;
    font-size: 12px;
    line-height: 14px;
    color: #9F9F9F;
    }
    .sagumenya{
        width: 120px;
    height: 28px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin-left: 390px;
    margin-top: -37px;
    color: #9F9F9F;
    }
    
  
 
    .valyuta1  {
    
        width: 259px;
        height: 30px;
    
        box-sizing: border-box;
        border-radius: 3px;
        text-align: center;
    
    }
    .valyuta2{
        width: 259px;
        height: 30px;
    
        box-sizing: border-box;
        border-radius: 3px;
        text-align: center;
    /*bir divin icinde u menya yest 2 input rub zad olani sal */
    }
    .first,.second,.third,.fourth{
        width: 63.81px;
        height: 28px;
        padding-left:20px;
        font-family: 'Roboto';
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #C6C6C6;
        border: 1px solid #E5E5E5;
    }
    .first{
        background-color: #833AE0;
    }
    .six{
        background-color: #833AE0;
    }
    .five,.six,.seven,.eight {
        width: 63.81px;
        height: 28px;
        padding-left:20px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #C6C6C6;
        border: 1px solid #E5E5E5;
    }
    .input1{
        box-sizing: border-box;
        width: 259px;
        height: 102px;
        border: 1px solid #E5E5E5;
        border-radius: 3px;
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    
    color: #000000;
    
    }
    .input2{
        box-sizing: border-box;
        width: 259px;
        height: 102px;
        border: 1px solid #E5E5E5;
        border-radius: 3px;
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    
    color: #000000;
    
     
    }
    .inputarea2{
        margin-left: 390px;
        margin-top: -105px;
    }

























}
    
